.form-popover {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.active {
	position: absolute;
	width: 200px;
	border: 1px solid #79f879;
}

.invisible {
	display: none;
}

.popover-title, .popover-body, .button-popover {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	padding: 10px;
}

.popover-title {
	background-color: #79f8c3;
}

.button-popover {
	margin-top: 200px;
	border: 1px solid #000000;
	color: #ff0000;
	background-color: #79f8c3;
}